*{
    margin: 0%;
    padding: 0%;
}

.anasayfa{
    background-color: aqua;
    background-size: auto;
}

.anasayfa .secenekler{
    background-color: #5f0aff 0.9;
    width: 100%;
    height: 70px;
}

.secenekler li{
    float: right;
    margin-right: 20px;
    list-style: none;
    margin:0 40px;
    line-height: 70px;
}

.secenekler ul{
    float: left;
    margin-left: 20px;
}

.secenekler ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    line-height: 70px;
}

.secenekler ul li a.active,
.secenekler ul li a:hover{
    background: #ea7909 ;
    text-decoration: none;
}

.hakkimda h1{
    color: bisque;
    font-size: 75px;
    font-family: Cursive, sans-serif;
    width: 80%;
    margin: 0 auto; 
    text-align: center; 
    padding-top: 50px; 
    padding-bottom: 30px;
    border: 2px solid #ff0101;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
}

.hakkimda p{
    font-size: 25px;
    color:bisque;
    font-family: Fantasy;
    width: 80%;
    margin: 0 auto; 
    text-align: center; 
    padding-top: 5px; 
    padding-bottom: 5px;
    border: 2px solid #6c0505;
    padding: 20px;
    border-radius: 10px;
}

.hakkimda {
    background-image: url(hakkimdafoto.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

:root{
    --green: #15a64f;
    --light-main: #202428;
    --main: #101214;
    --border: rgba(253, 7, 7, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-weight: lighter;
}


body{
    height: 100vh;
    background: var(--main);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.main{
    display: flex;
    flex: 1;
}

nav, header{
    border: 1px solid var(--border);
    padding: 1.25em 1em;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    border-style: none;
    color: var(--main);
    background-color: var(--green);
    padding: 0 0.7em;
    border-radius: 8px;
    font-weight: 600;
}

.menu i{
    margin-left: 1.25em ;
}

.navbar, .navbar ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.navbar{
    display: none;
}

.navbar li{
    width: 100%;
    margin: .5em;
    display: flex;
    align-items: baseline;
}

.login{
    cursor: pointer;
    transform: scale(.75);
}

a{
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------- */

header{
    visibility: hidden;
    justify-content: center;
}

header a{
    padding: 16px ;
    background: var(--light-main);
    border-radius: 12px;
    cursor: not-allowed;
}

header a span{
    margin: 0 1em;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: var(--main);
}

/* -------------------------------------------- */

ul{
    display: flex;
}

li{
    list-style-type: none;
    margin: 0 2em;
    font-size: 1.12em;
}

li:hover{
    color: var(--green);
}

.menu i:hover{
    color: #000;

}

button{
    display: none;
}



/* ---------------------v CONTACT v--------------------------- */


/* ---------------------^ CONTACT ^--------------------------- */







@media all and (max-width: 850px) {
 

}


@media all and (max-width: 1200px) {

    .main{
        flex-direction: column;
    }


    header{
        display: none;
    }

    .nav{
        display: none;
    }

    button{
        display: block;
    }

    .menu{

        font-size: 0.85em;
    }

    nav div{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container{
        margin: auto;
    }

    .login{
        font-size: 0.75em;
    }

}